<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application android:name=".ApplicationController"
        android:theme="@style/AppBaseTheme"
        >

        <activity
            android:theme="@style/AppBaseTheme"
            android:name=".ScanBeatPrimerActivity"
            android:exported="false" />

        <activity
            android:theme="@style/AppBaseTheme"
            android:name=".ScanBeatActivity"
            android:exported="false" />
    </application>

</manifest>